:root {
    /* Colors */
    --primary: hsl(4, 100%, 67%);
    --darkGrey: hsl(234, 29%, 20%);
    --grey: hsl(235, 18%, 26%);
    --lightGrey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    --primaryTransparent: hsla(4, 100%, 67%, 0.349);
    /* Tipography */

    /* font family */
    --fontFam: 'Roboto', sans-serif;

    /* font size */
    --fS-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3rem;
    /* font weight */
    --fontReg: 400;
    --fontBold: 700;

    /* Border radius */

    --borderRadContainer: 40px;
    --borderRadInput: 7px
}

*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--fontFam);
    background-color: var(--grey);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    background-color: var(--white);
    display: flex;
    border-radius: var(--borderRadContainer);
    padding: 1.5rem;
}

.form-grid {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.col-2 {

    padding: 1rem 4rem 4rem;
}
.col-2 > * {
    margin-block-start: 1.5em;
    box-sizing: border-box;
}

.title {
    font-size: var(--fs-900);
    font-weight: var(--fontBold);
}

ul {
    list-style: none;
}

li {
    padding: 0.3rem;
}
li::before {
    content: url('assets/images/icon-list.svg');
    display: inline-block;
    vertical-align: middle;
    padding-right: 1.5rem;
}

.label-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: var(--fontBold);
    margin-bottom: -1rem;
}

input {
    width: 100%;
    padding: 1rem;
    border: solid var(--lightGrey) 1px;
    border-radius: var(--borderRadInput);
}

.btn {
    background-color: var(--darkGrey);
    color: white;
    font-weight: var(--fontBold);
}

.success {
    display: none;
    width: 100%;
    padding: 1.5rem;
}

.success > * {
    margin-block-start: 1.5rem;
}

.success p {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.success p span {
    font-weight: var(--fontBold);
}

.hide {
    display: none;
}

.error-msg {
    color: var(--primary);
    display: none;
}

.error-field {
    background-color: var(--primaryTransparent);
    color: var(--primary);
    border: var(--prim);
}
